
.experience-section {
    background-color: #fceeed;
    padding: 30px 0;
    text-align: center;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 14px;
    color: #777;
}

.custom-btn {
    background-color: #ff914d;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 40px;
    background-color: #ff975a;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(255, 145, 77, 0.4);
    transition: 0.3s;
}

.custom-btn:hover {
    background-color: #ff7b33;
    box-shadow: 3px 3px 15px rgba(255, 123, 51, 0.5);
    color: white;
}